<div class="row">
  <div class="col-md-3">
    <%= image_tag avatar_url(@user), class: "avatar-full" %>
      <div class="panel panel-default">
        <div class="panel-heading">Vérification</div>

        <div class="panel-body">
          Email: <%= @user.email %><br>
          Tél: <%= @user.phone_number %>
        </div>
      </div>
  </div>

  <div class="col-md-9">
    <h2><%= @user.fullname %></h2>
    <div class="description row-space-3">
      <%= @user.description %>
    </div>

    <h4>Annonces (<%= @activities.length %>)</h4><br>
    <div class="row">
      <% @activities.each do |activity| %>
      <div class="col-md-4">
        <div class="panel panel-defaul">
          <div class="panel-heading preview">
            <%= image_tag activity.photos[0].image.url(:medium) if activity.photos.length > 0 %>
          </div>
          <div class="panel-body">
            <%= link_to activity.activity_name, activity %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<h4>Evaluation</h4><br>
<% @activities.each do |activitie| %>
<% if !activitie.reviews.blank? %>
    <% activitie.reviews.each do |review| %>
        <div class = "row" >
          <div class = "col-md-2 text-center">
            <%= image_tag avatar_url(review.user). class "img-circle avartar-medium" %><br>
            <%= review.user.fullname %>
          </div>
          <div class = "col-md-10">
            <%= link_to activity.listing_name, activity %><br>
            <%= review.comment %><br>
          <%= review.created_at.strftime("(%d/%m/%y)") %>
        </div>
    </div>
  <% end %>
  <% end %>
  <% end %>
