<div class="fond">

  <div class="container" style="padding-left: 0px; padding-right: 0px">
    <div class="bloc1" style="background; height: 45vh;">
      <div>
        <div class="col-md-12">
          <div class="text-center">
            <h1 style="color: white; padding-top: 69px;">Le plus grand choix <br> d'activités de loisirs sportif</h1>
          </div>
        </div>
      </div>

      <br>

      <%= form_tag search_path, method: :get do %>
        <div class="row" style="padding-top: 60px;">
          <div class="col-md-6 col-md-offset-3">
            <%= text_field_tag :search, params[:search], placeholder: "Où? Destination, ville, adresse",
            class:"form-control" %>
          </div>
          <div class="col-md-2 ">
            <%= submit_tag "Rechercher", class:"btn btn-info btn-md" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h2 class="text-center"><i class="fa fa-users fa-2x" style="color: white"></i></h2>
      <h4 class="text-center" style="padding-top: 15px; color: white;"> Organiser des sorties et des activités entre amis</h4>
    </div>
    <div class="col-md-2 col-md-offset-2">
      <h2 class="text-center"><i class="fa fa-heart fa-2x" style="color: white"></i></h2>
      <h4 class="text-center" style="padding-top: 15px; color: white;">Rencontrez des sportifs qui partagent vos passions </h4>
    </div>
    <div class="col-md-2 col-md-offset-2" >
      <h2 class="text-center"><i class="fa fa-globe fa-2x" style="color: white"></i></h2>
      <h4 class="text-center" style="padding-top: 15px; color: white;">Trouver toutes les activités de loirsir sportif</h4>
    </div>
  </div>
  <br>
</div>

<div class="row">
  <div class="text-center">
  <h3 style="color: black">Vous êtes un passioné de sport? </h3>
  <%= link_to "Proposez votre activité", root_path, { :class=>"text-center" } %>
  </div>
</div>

<div class="row" style="padding-top: 20px; ">
  <div class="col-md-4">
    <h4>Annonces</h4>
  </div>
</div>

<div class="row">
  <% @activities.each do |activity| %>
    <div class="col-md-4">
      <div class="panel panel-defaul">
        <div class="panel-heading preview">
          <%= image_tag activity.photos[0].image.url(:medium) if activity.photos.length > 0 %>
        </div>
        <div class="panel-body">

          <% if activity.price == 0 || activity.price == nil %>
            <p class="home-link"><b> Gratuit <br><%= link_to activity.activity_type, activity_path(activity) %></b>
          <% else %>
            <p class="home-link"><b><%= link_to activity.price, activity_path(activity) %> € <br><%= link_to activity.activity_type, activity_path(activity) %></b>
            <br><%= link_to activity.activity_name %>                                                                                                                   , activity_path(activity) %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(function() {
    $('#date').datepicker({
      dateFormat: 'dd-mm-yy',
      monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
      'Septembre','Octobre','Novembre','Décembre'],
      dayNamesMin: ['D','L','M','M','J','V','S'],
      minDate: 0,
      maxDate: '3m',
      onSelect: function(selected) {
        var newdate = new Date($("#date").datepicker("getDate"));
        newdate.setDate(newdate.getDate() + 1);
      }
    });
  })
</script>
