<div id="wrapper">
  <div id="sidebar">
    <div id="widget">
      <script>
        function initMap() {
          <% if @arrActivities.length > 0 %>
            var uluru = {lat: <%= @arrActivities[0].latitude %>, lng: <%= @arrActivities[0].longitude %>};
            var map = new google.maps.Map(document.getElementById('widget'), {
              zoom: 13,
              center: uluru
            });
          <% else  %>
            var uluru = {lat: 48.866667, lng: 2.333333};
            var map = new google.maps.Map(document.getElementById('widget'), {
              zoom: 4,
              center: uluru
            });
          <% end %>

          <% @arrActivities.each  do |activity| %>
            var marker = new google.maps.Marker({
              position: {lat: <%= activity.latitude %>, lng: <%= activity.longitude %>},
              map: map,
              title: "<%= activity.activity_name %>"
            });
          <% end %>
        }
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClhT9Do4YID5-zjV_yRTeUP_03L1i5Ud0&callback=initMap">
      </script>
    </div>
  </div>

  <div id="article">
    <div class="row">
      <div class="col-md-12">
        <%= search_form_for @search, url: search_path do |f| %>
          <div class="row">

            <div class="col-md-3">
              <%= f.text_field  :price_gteq, placeholder: "Budget min", class: "form-control" %>
            </div>
            <div class="col-md-3">
              <%= f.text_field  :price_lteq, placeholder: "Budget max", class: "form-control" %>
            </div>
          </div>

          <hr>


          <div class="row">
              <div class="col-md-4">
                <div class="check_box_activity">
                <%= check_box_tag "q[is_indoor_eq]", true %> En salle
                <div class="check_box_activity_exterieur">
                <%= check_box_tag "q[is_outdoor_eq]", true %> En extérieur
              </div>
              </div>
              </div>
          </div>


          <hr>
          <br>

          <div class="row">
            <div class="col-md-4 select">
              <div class="form-group">
                <label>Max Participants:</label>
                <%= f.select :max_participant_gteq,[["1 - 5",1],["5 - 10",2],
                ["10 - 20",3], ["20 - 30",4] ,["30+",5]], prompt:"A sélectionner...",
                class:"form-control" %>
              </div>
            </div>

            <div class="col-md-5 select">
              <div class="form-group">
                <label>Durée de l'activité</label>
                <%= f.select :duration_gteq,
                [
                  ["moins de 10 minutes", 1],
                  ["de 10 à 20 minutes", 2],
                  ["de 20 à 30 minutes", 3],
                  ["de 30 à 40 minutes", 4],
                  ["moins d'une heure", 6],
                  ["plus d'une heure", 7]
                ],
                prompt: "Sélectionner le nombre", class: "form-control" %>
              </div>
            </div>

            <div class="col-md-5 select">
              <div class="form-group">
                <label>Compétences dévelopées</label>
                <%= f.select :competence_developed_gteq,
                [
                  ["Equilibre","Equilibre"],
                  ["Force","Force"],
                  ["Motricité","Motricité"],
                  ["Vitesse","Vitesse"],
                  ["Endurance","Endurance"],
                  ["Concentration","Concentration"],
                  ["Réflexe","Réflexe"],
                  ["Dextérité","Dextérité"]
                ],
                prompt: "A sélectionner...", class: "form-control" %>
              </div>
            </div>

            <div class="col-md-5 select">
              <div class="form-group">
                <label>Type d'activité</label>
                <%= f.select :activity_type_gteq,
                [
                  ["Athlétisme","Athlétisme"],
                  ["Sports collectifs","Sports collectifs"],
                  ["Gymnastique","Gymnastique"],
                  ["Sports mécaniques","Sports mécaniques"],
                  ["Sports de raquette","Sports de raquette"],
                  ["Sport avec animaux","Sport avec animaux"],
                  ["Cyclisme","Cyclisme"],
                  ["Sports de combat","Sports de combat"],
                  ["Sport de force", "Sport de force"],
                  ["Sports aériens","Sports aériens"],
                  ["Sports de cible","Sports de cible"],
                  ["Sports nautiques","Sports nautiques"],
                  ["Sports de montagne", "Sports de montagne"],
                  ["Sports cérébraux"]
                ],
                id: "activity_type",prompt: "A sélectionner...", class: "form-control" %>
              </div>
            </div>
          </div>

          <hr>
          <br>

          <div class="row">
            <%= f.submit "Rechercher", class:"btn btn-primary" %>
          </div>
        <% end %>

        <hr>

        <div class="row">
          <% if @arrActivities.empty? %>
            Aucune annonce ne correpond à votre recherche.
          <% else %>
            <% @arrActivities.each do |activity| %>
              <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading preview">
                      <%= image_tag activity.photos[0].image.url(:medium) if activity.photos.length > 0 %>
                    </div>
                    <div class="panel-body">
                      <%= image_tag avatar_url(activity.user), class:"img-circle avatar-small" %>
                      <%= link_to activity.activity_name, activity %>
                    </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(function() {
    $('#date').datepicker({
      dateFormat: 'dd-mm-yy',
      monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
      'Septembre','Octobre','Novembre','Décembre'],
      dayNamesMin: ['D','L','M','M','J','V','S'],
      minDate: 0,
      maxDate: '3m',
      onSelect: function(selected) {
        var newdate = new Date($("#date").datepicker("getDate"));
        newdate.setDate(newdate.getDate() + 1);
      }
    });
  })
</script>

<script>
  $(document).ready(function(){
    $("#sidebar").stick_in_parent({offset_top: 20});
  });
</script>
