       <!-- Carrousel -->
      
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                        <% if @photos %>
                            <% @photos.each do |photo| %>
                              <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" class="active"></li>
                              </ol>
                            <% end %>
                            <%end%>
                            <br>
                            <hr>

 <div class="carousel-inner" role="listbox">
                        <% if @photos %>
                        <% @photos.each do |photo| %>
                        <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                          <%= image_tag photo.image.url() %>
                        </div>
                        <% end %>
                        <% end %>
                      </div>

                       <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <% if @photos %>
                        <% @photos.each do |photo| %>
                        <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                          <%= image_tag photo.image.url() %>
                        </div>
                        <% end %>
                        <% end %>
                      </div>

                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Précédent</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                      </a>
                    </div>
                </div>
            </div>
