<div class="panel panel-default">
  <div class="panel-body">
    <!-- Photo principale de l'annonce -->
    <div class="row">
      <div class="col-md-12">
          <%= image_tag @photos[0].image.url(), class:"img-responsive" if @photos.length >0 %>
      </div>
    </div>

    <br>
    <!-- Informations principales -->
    <div class="row">
      <div class="col-md-8">
        <div class="row">
            <div class="col-md-3 text-center">
                <%= image_tag avatar_url(@activity.user), class:"img-circle avatar-large" %>
                <br>
                <br>
                <%= @activity.user.fullname %>
            </div>
            <div class="col-md-9">
                <h4><%= @activity.activity_name %></h4>
                <%= @activity.address %>
                <div class="row text-center row-space-1">
                    <div class="col-sm-3">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <div class="col-sm-3">
                        <i class="fa fa-users fa-2x"></i>
                    </div>
                    <div class="col-sm-3">
                        <i class="fa fa-bed fa-2x"></i>
                    </div>
                    <div class="col-sm-3">
                        <i class="fa fa-bath fa-2x"></i>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-sm-3">
                        <%= @activity.activity_type %>
                    </div>
                    <div class="col-sm-3">
                        <%= @activity.max_participant %>
                    </div>
                    <div class="col-sm-3">
                        <%= @activity.competence_developed %>
                    </div>
                    <div class="col-sm-3">
                        <%= @activity.duration %> <!-- Problème de correspondance, affiche l'id mais pas la durée -->
                    </div>
                </div>
            </div>
        </div>
      </div>
        <div class="col-md-4">
            <!-- Formulaire de réservation -->
        </div>
    </div>

        <!-- Description -->
        <div class="row">
            <div class="col-md-12">
                <h2>A propos de cette activité</h2>
                <p><%= @activity.description %></p>
            </div>
        </div>

        <!-- Carousel -->
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                        <% if @photos %>
                            <% @photos.each do |photo| %>
                              <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" class="active"></li>
                              </ol>
                            <% end %>
                        <% end %>


                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <% if @photos %>
                        <% @photos.each do |photo| %>
                        <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                          <%= image_tag photo.image.url() %>
                        </div>
                        <% end %>
                        <% end %>
                      </div>

                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Précédent</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                      </a>
                    </div>
                </div>
            </div>

      <br>
<!-- Google maps -->
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>

                <script>
                  function initMap() {
                    var uluru = {lat: <%= @activity.latitude %>, lng: <%= @activity.longitude %>};
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 15,
                      center: uluru
                    });
                    var marker = new google.maps.Marker({
                      position: uluru,
                      map: map
                    });
                  }
                </script>
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClhT9Do4YID5-zjV_yRTeUP_03L1i5Ud0&callback=initMap">
                </script>
            </div>
        </div>

      <h3>A proximité...</h3>
         <div class="row">
             <% for activity in @activity.nearbys(2).limit(3) %>
                <div class="col-md-4">
                    <div class="panel panel-default">
                       <div class="panel-heading preview">
                            <%= image_tag activity.photos[0].image.url(:medium) if activity.photos.length > 0 %>
                       </div>
                       <div class="panel-body">
                         <%= link_to activity.activity_name, activity %><br>
                          (à <%= (activity.distance*1.6).round(2) %> km)
                       </div>
                    </div>
                 </div>
             <% end %>
    </div>
  </div>
</div>
